<!DOCTYPE html>
<html>
	<%= render 'layouts/includes/head.html.erb' %>
	<body>

		<%= render 'layouts/includes/header.html.erb' %>

		<div class="container">
			<% flash.each do |message_type, message| %>
			<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/includes/footer.html.erb' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>